@import "../../breakpoints.scss";

.navbar {
  position: absolute;
  top: 14px;
  right: 30px;
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      max-width: 40px;
      border-radius: 50%;
    }
  }

  .back-to-main-link {
    position: fixed;
    top: 24px;
    left: 70px;
    font-family: "Karla", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: black;

    img {
      position: absolute;
      left: -32px;
      top: -3px;
    }

    @include sm {
      & {
        left: 50px;
      }
    }
  }
}
.navbar-btn {
  background-color: white;
  font-size: 1.2rem;
}
